<!doctype html>
    <head>
        <%- include('template/body') %>
        <%- include('template/navbar') %>
        <header>
            <div class="main">
                <div class="title">
                    <h1>文章標題</h1>
                </div>
            </div>
        </header>

        <section>
        </section>
        <%- include('template/footer') %>
    </head>
</html>